h1 {
    transition: ease-in-out .5s;
}
h1:hover,p:hover {
    color: #00758f;
}
.sql {
    color: #f29111;
}
.show-more {
    padding: 0px;
    border-radius: 10px;
    width: 25px;
    height: 10px;
    cursor: pointer;
    float: left;
}
.pointer{
    cursor: pointer;
}
.tab {
    margin-left: 20px;
}
.hide {
    display: none;
}
.center {
    text-align: center;
}
.spotlight {
    color: #f29111;
}
.block:hover {
    background-color: rgba(190,190,190, .3);
}