h1 {
    transition: ease-in-out .5s;
}
h1:hover {
    color: #f7e018;
}
.codeDiv {
background-color: rgba(0,0,0,.2);
}


.jskeywordcolor {
    color: mediumblue;
}

.jsstringcolor {
    color: brown;
}