h1:hover {
    color: #2862ea;
}


.spotlight {
    background-color:rgba(190, 190, 190, 0.3);
    width: 100px;
    height: 50px;
    color: rgba(37, 75, 222, .9);
}
.pink {
    color: #990055;
}
.green {
    color: #669900;
}
.blue {
    color: #0077AA;
}
.notHover:hover {
    color: #000;
}

table.property-values {
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,.5);
}
table.property-values td,th {
    padding: 15px;
    text-align: left;
    border: 1px solid rgba(0,0,0,.5);
}
table.property-values tr:nth-child(even) {
    background-color:rgba(235, 235, 235, 0.5);
}