h1:hover {
    color: #2862ea;
}


.spotlight {
    background-color:rgba(190, 190, 190, 0.3);
    width: 100px;
    height: 50px;
    color: rgba(37, 75, 222, .9);
}
.pink {
    color: #990055;
}
.green {
    color: #669900;
}
.blue {
    color: #0077AA;
}
.notHover:hover {
    color: #000;
}