h1:hover {
    color: rgb(255, 87, 51);
}

.atribute {
    padding: 2px;
    background-color: rgba(148, 148, 148, 0.2);
    font-weight: bolder;
    color: rgba(0, 0, 205, .6);
}


table#simpleTable {
    
    border-collapse: collapse;
}
td,th {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: left;
}

.tab {
    margin-left: 40px;
}

.codeTable {
    color: rgba(0, 0, 0, 0.8);
    background: rgb(255, 255, 255);
}
.textCenter {
    padding-bottom: 15px;
    color: #000000;
    text-align: center;
}