h1:hover {
    color: #f7e018;
}

/* DRACULA COLORS */ 

.jskeywordcolor {
    color: rgb(255,121,198);
}
.codeDiv {
    background-color:rgba(40,42,54);
    color: #fff;
    border-left: 5px #576eb6 solid;
}
.jsstringcolor {
    color: #f1fa8c;
}
.jscommentcolor {
    color: #6272a4;
}
.jsvarcolor {
    color: #50fa7b;
}
.jsparametercolor {
    color: #ffb86c;
}

.jscyancolor {
    color: #8be9fd
}
.jsnumbercolor {
    color: #bd93f9;
}
.jsdefaultcolor {
    color: #fff;
}