.alertDiv {
    margin: 30px;
    cursor: pointer;
    border-left: 10px solid #ffb86c;
    background-color: #fff3d4;
    padding: 30px 10px;
    transition: all .4s ease;
}
.alertDiv:hover {
    border-left: 10px solid #ffeb3b;
    background-color: #ffffcc;
}

/* DRACULA COLORS */ 
.dark-codeDiv {
    font-family: 'Fira Code', monospace;
    margin: 10px;
    padding: 25px;
    background-color:rgba(40,42,54);
    color: #fff;
    border-left: 5px #576eb6 solid;
}
.bold {
    font-weight:  bold;
}
.jskeywordcolor {
    color: rgb(255,121,198);
}

.jsstringcolor {
    color: #f1fa8c;
}
.jscommentcolor {
    color: #6272a4;
}
.jsvarcolor {
    color: #50fa7b;
}
.jsparametercolor {
    color: #ffb86c;
}

.jscyancolor {
    color: #8be9fd
}
.jsnumbercolor {
    color: #bd93f9;
}
.jsdefaultcolor {
    color: #fff;
}

/* html */
.atribute {
    padding: 2px;
    background-color: rgba(148, 148, 148, 0.2);
    font-weight: bolder;
    color: rgba(0, 0, 205, .6);
}

.redAtribute {
    padding: 2px;
    background-color: rgba(148, 148, 148, 0.1);
    color: rgba(231, 43, 59, 0.9);
}


table#simpleTable {
    
    border-collapse: collapse;
}
td,th {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: left;
}

.tab {
    margin-left: 40px;
}

.codeTable {
    color: rgba(0, 0, 0, 0.8);
    background: rgb(255, 255, 255);
}
.textCenter {
    padding-bottom: 15px;
    color: #000000;
    text-align: center;
}

/* mysql */

.sql {
    color: #f29111;
}
.show-more {
    padding: 0px;
    border-radius: 10px;
    width: 25px;
    height: 10px;
    cursor: pointer;
    float: left;
}
.pointer{
    cursor: pointer;
}
.tab {
    margin-left: 20px;
}
.hide {
    display: none;
}
.center {
    text-align: center;
}
.spotlight {
    color: #f29111;
}
.block:hover {
    background-color: rgba(190,190,190, .3);
}

/* css */


.pink {
    color: #990055;
}
.green {
    color: #669900;
}
.blue {
    color: #0077AA;
}


table.property-values {
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,.5);
}
table.property-values td,th {
    padding: 15px;
    text-align: left;
    border: 1px solid rgba(0,0,0,.5);
}
table.property-values tr:nth-child(even) {
    background-color:rgba(235, 235, 235, 0.5);
}



/* MODULOS ES6 JAVASCRIPT */

.content-center {
  position: relative;
  width: 75%;
  margin: 0 auto;
}
.background-white {
  padding: 15px;
  background-color: #fff;
}
#modulos h3 {
  text-align: center;
}
#modulos h2:first-child {
  background-color: #f9dd3c;
  padding: 10px;
}

#modulos {
  background-image: url('../../assets/modulos.jpg');
  background-size: contain;

}

#webpack {
  background-color: #5cadc0;
  color: #fff;
  padding: 10px;
}

.list-style li {
  position: relative;
  text-align: left;
  list-style: disc;
  list-style-position: inside;
}

/* NODEJS */
.node-background {
  background-image: url('../../assets/nodejs.jpeg');
}

.node-body .contentDiv {
  background: rgba(255,255,255);
}

.node-body h1 {
  color: rgb(152, 252, 161);
  border-bottom: 1px solid rgb(155, 245, 162);
  ;
}
