@charset "UTF-8";
/* RESETS */
* {
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    outline: 0;
}
.title {
    border-bottom: 1px solid #000000;
}
h1 {
    transition: ease-in-out .5s;
}
h2 {
    font-size: 18pt;
}
.link {
    text-decoration: none;
    color: rgba(0, 0, 205, .6);
}
p {
    margin-top: 10px;
    text-align: justify;
}
li a {
    display: block;
    height: 25px;
    width: 290px;
    text-align: center;
    cursor: pointer;
 } 
body {
    background: #fff;
    padding-bottom: 20px;
}
footer {
    margin-top: 8%;
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 0;
    left: 0;
    top: 110%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


/* end RESETS */
main {
    margin-top: 100px;
}
.conteiner {
    font-size: 14pt;
    width: 95%;
    height: 100%;
    max-height: 450px;
    margin: 20px auto 20px auto;
    text-align: center;
}
.font0 {
    font-size: 0;
}
/* start HEADER */
#header {
    z-index: 10;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    top: 0; 
    border-bottom: 1px solid rgba(0,0,0,.1);
}

/* SEARCH */
.search-form {
    position: relative;
    margin-top: 8px;
    margin-left: 30%;
}
.search-form input {
    padding-left: 60px;
}
.search-form button {
    padding-right: 60px;
    position: absolute;
}
.search-form i {
    position: absolute; 
}
/* style do input */
.txtSearch{
    background-color: rgba(190,190,190, .2);
    border-radius: 6px;
    width: 600px;
    height: 48px;
    transition: linear 0.3s;
}
.txtSearch:focus {
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0,0,0, .5);
   
}
/* Estilização dos icones */
.search-icon {
    position: absolute;
    top: 50%;
    padding: 15px;
    font-size: 14pt;
    margin-top: 0px;
    width: 20px;
    border-radius: 25px;
    transition: linear .3s;
    cursor: pointer;
}
.search-icon:hover {
    background-color: rgba(190,190,190, .5);
}
.submitBtn {
    position: absolute;
}
#btnlupa {
    left: -85%;
}
#btnlupa,
#xbtn {
    color: rgba(0,0,0,.6)
}
/* Slide menu */
#btn-open-menu {
    position: absolute;
    left: 0;
    top: 5px;
    margin: 5px 4px;
    background-color: #fff;
}
#menuDiv {
    position: relative;
    background-color: #fff;
    width: 300px;
    min-height: 915px;
    height: 100%;
    left: 0;
    text-align: center;
    transition: transform 200ms linear;
    margin-top: 5px;
}

.menuDiv {
    transform: translateX(-100%);
}
.menuDiv-open {             
    transform: translateX(0);
}

.menu-slide ul li a {
    text-align: center;
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 14pt;
    transition: all 300ms ease-in-out;
}
.menu-slide ul li a:hover{
    transition-delay: 10s;
}
.menu-slide ul li {
    padding: 10px 0px;
    text-align: center;
}
.menu-slide ul li:hover {
    background-color: rgba(190,190,190, .2);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.html:hover {
    display: block;
    color: rgb(248, 103, 6);
    
}
/* end HEADER */


/* Estilo para Menus de html,css,js,linux */ 
.title {
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0, .4);
    margin-bottom: 25px;
}
h3,h4,h5,h6 {
    margin: 30px 0px;
    text-align: left;
}

/* Notebox div style */
.note-conteiner {
    position: static;
}
div.note-box{
    position: static;
    float: left;
    margin: 20px;
    width: 300px;
    height: 400px;
    text-align: center;
    border: 1px rgba(0,0,0, .2) solid;
    transition: all ease-in-out .2s;
    border-radius: 10px;
}
div.note-box:hover {
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}

textarea.note-text {
    border-radius: 10px;
    padding: 10px;
    font-size: 14pt;
    overflow-y: hidden;
    width: 280px;
    height: 330px;
    text-align: left;
    text-align: justify;
    resize: none;
}


/* botões de salvar-apagar etc */
div.note-buttons {
    position: static;
}
.submitButton {
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12pt;
    cursor: pointer;
    background: rgba(0,0,0,.1);
}

.codeDiv {
    background-color:rgba(148, 148, 148, 0.1);
    height: 100%;
    border-radius: 5px;
    padding-top: 2px;
    padding-right: 15px;
    border-left: 5px rgba(2, 75, 231, 0.7) solid;
    padding-left: 10px;
    margin: 20px 10px;
    width: 90%;
    max-width: 900px;
    padding-bottom: 10px;
}
.margintab {
    margin-left: 40px;
}
.margintabX2 {
    margin-left: 80px;
}
.contentDiv {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    position: relative;
    padding: 15px 15px;
    border: 1px rgba(0,0,0,.1) solid;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    border-radius: 5px;
    transition: all .5s;
    margin-bottom: 50px;
}
.contentDiv:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}
.example {
    background-color: rgba(0,0,0,.1);
    color: #000;
}

h1.ES6 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 25pt;
    background-color: #e16f3c;
    padding: 10px;
    color: #fff;
    position: absolute;
    right: 0;
}
/* -----------------MEDIA QUERYS------------------------ */


@media (max-width: 959px){
    .search-form {
        margin-left: 20%;
    }
    h1.ES6 {
        opacity: 0.8;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        border-radius: 15px;
        text-align: center;
        position: relative;
        margin-bottom: 15px;
    }
}

@media (max-width: 830px){
    .search-form {
        margin-left: 10%;
    }
}

@media (max-width: 753px){
    .search-form {
        margin-left: 20%;
    }
    .txtSearch {
        width: 400px;
    }
    #supercomboIframe {
        width: 80%;
    }
}
@media (max-width: 581px){
    .search-form {
        margin-left: 10%;
    }
    #supercomboIframe {
        width: 80%;
    }
}

@media (max-width: 523px) {
    .txtSearch {
        width: 300px;
    }
    .search-form {
        margin-left: 20%;
    }
}

@media (max-width: 423px) {
    .txtSearch {
        width: 200px;
    }
}

@media (max-width: 322px){
    #btnlupa {
        left: -45px;
        top: 0px;
    }
    .txtSearch {
        width: 170px;
    }
}

@media (max-width: 322px){
    .txtSearch {
        width: 120px;
    }
}